<!doctype html>
<title>{% block title %}{% endblock %} - QR APP</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Proframación Bajo Plataformas Abiertas</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido</h1>
    <p class="lead">En esta aplicación se creo como proyecto de Programación Bajo Plataformas Abiertas para la generación y decodificación de códigos QR.</p>
  </div>
  {% block content %}{% endblock %}
</section>
