{% extends 'base.html' %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col">
        <form method="post">
          <div class="form-group">
            <label for="username">Nombre</label>
            <input name="username" class="form-control" id="username" required>
          </div>
          <div class="form-group">
            <label for="apellido">Apellido</label>
            <input name="apellido" class="form-control" id="apellido" required>
          </div>
          <div class="form-group">
            <label for="cedula">Cédula</label>
            <input name="cedula" class="form-control" id="cedula" required>
          </div>
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input name="telefono" class="form-control" id="telefono" required>
          </div>
          <button type="submit"  class="btn btn-primary">Generar</button>
        </form>
      </div>
    </div>
    <div class="row">
        {% if completo %}
          <img src="{{ url_for('static', filename='informacion_contacto.jpg') }}"  class="codigoqr" alt="Código QR">
        {% endif %}
    </div>

    <div class="row">
        <a href="/generate_menu" class="btn btn-primary">Regresar</a>
    </div>
  <div>
{% endblock %}
